<!DOCTYPE html>
<html>
    <head>
        <title>Enter Type</title>
        <link rel = "stylesheet" href = "/static/css/choice.css">
    </head>
    <body>
        <nav>
            <ul class="navbar">
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
        <div class="decor">
            <h1><b>Welcome to AD Finder</b></h1>
            <br>
            <div class="about">
                <p>We can help you find a campaign Or help you spread your campaign</p>
                <p>made for Sponsors and influencers.</p>
            </div>
        </div>
        <div class="content">
            <h1 style="text-align: center;">Signup As</h1>
            <br><br>
            <form method="POST" name="form">
                <input type = "submit" name = 'sponsor' value="Sponsor">
                <br><br><br>
                <input type = "submit" name = 'influencer' value="Influencer">
                <br>
            </form>
        </div>
    </body>
</html>