<!DOCTYPE html>
<html>
    <head>
        <title>Already Logged in</title>
        <link rel = "stylesheet" href = "/static/css/loggedin.css">
        <script src = "/static/js/signup.js"></script>
    </head>
    <body>
        <nav>
            <ul class="navbar">
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
        <p><b>You are already logged in</b></p>
        <br>
        <p><a href="/dashbord">Click here</a> to go to dashboard</p>
    </body>
</html>