<!DOCTYPE html>
<html>
    <head>
        <title>Log in to ADFinder</title>
        <link rel = "stylesheet" href = "/static/login.css">
        <!--add a icon here for the website-->
        <!--also in others , add useful info such as db er model and all-->
    </head>
    <body>
        <nav>
            <ul class="navbar">
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
        <div class="decor">
            <h1><b>Welcome to AD Finder</b></h1>
            <br>
            <div class="about">
                <p>We can help you find a campaign Or help you spread your campaign</p>
                <p>made for Sponsors and influencers.</p>
            </div>
        </div>
        <div class="content">
            <h1 style="text-align: center;">Login</h1>
            <form method="POST">
                <br><br><br>
                UserName : <input type = "text" name = 'username' required>
                <br><br><br>
                Password : <input type = "text" name = 'password' required>
                <br><br><br>
                <input type = "submit" value = "submit">    
            </form>
        </div>
    </body>
</html>