<!DOCTYPE html>
<html>
    <head>
        <title>Sign up to ADFinder</title>
        <link rel = "stylesheet" href = "/static/css/signup.css">
        <script src = "/static/js/signup.js"></script>
        <!--add a icon here for the website-->
        <!--also in others , add useful info such as db er model and all-->
    </head>
    <body>
        <nav>
            <ul class="navbar">
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
        <div class="decor">
            <h1><b>Welcome to AD Finder</b></h1>
            <br>
            <div class="about">
                <p>We can help you find a campaign Or help you spread your campaign</p>
                <p>made for Sponsors and influencers.</p>
            </div>
        </div>
        <div class="content">
            <h1 style="text-align: center;">SignUp Form</h1>
            <form onsubmit="return validate()" method="POST" name="form">
                UserName : <input type = "text" name = 'username' required>
                <br>
                Password : <input type = "password" name = 'password' required>
                <br>
                Enter Again : <input type = "password" name = 'password1' required>
                <p id="error" style="color:red;font-size: medium;"></p>
                <input type = "submit" value = "submit">    
                {% if flag %}
                    <p id="error1" style="color:red;font-size: medium;">username already exists</p>
                {% endif %}
            </form>
        </div>
    </body>
</html>