<!DOCTYPE html>
<html>
<head>
    <title>{{L.username}}</title>
    <link rel="stylesheet" href="/static/css/sponsorprofile.css">
    <script src = "/static/js/infludash.js"></script>
</head>
<body>
    <nav>
        <ul class="navbar">
            <li><a href="/dashbord" class="border1">Dashboard</a></li>
            <li><a href="/users" class="border1">Search Users</a></li>
            <li><a href="/campaigns" class="border1">Browse/Create Campaigns</a></li>
            <li><a href="/contact" class="border1">Contact Us</a></li>
            <li><a href="/profile"><img src="/static/pfpc.png"></a></li>
            <li><a href="/logout" class="border1">Log Out</a></li>
        </ul>
    </nav>
    <br>
    <h1 style="text-align:center;">Sponsor Profile</h1>
    <br>
    <div class="container">
        <img src="/static/pfpc.png" class="pic">
        <div class="info">
            <p>Username : {{L.username}}</p>
            <p>Name : {{L.companyname}}</p>
            <p>Industry : {{L.industry}}</p>
            <p>Budget : ${{L.budget}}</p>
        </div>
    </div>
    <br>
    <h1 style="text-align:center;">{{waitinglist|length}} Past AD Requests</h1>
    <br>
    {% for i in waitinglist %}
        <br>
        <div class="request">
            <div class="request-header">
                <h3>{{waitinglist.index(i)+1}} : {{i.campaignname}}</h3>
            </div>
            <div class="request-content">
                <h1 style="text-align: center;">AD Details</h1>
                <div style="font-size: small;margin:1%;">
                    <a href="/profile/{{i.influencername}}" style="color:white;text-decoration: none;"><p>Influencer Name : <span style="color:blue;text-decoration: underline;">{{i.influencername}}</span></p></a>
                    <p>Company Name : {{i.companyname}}</p>
                    <p>Payment : {{i.payment}}</p>
                    <p>AD Details : {{i.addetails}}</p>
                    <p>Status : 
                    {% if i.reqtype=='A' %}
                        <input type="button" class="btn" style="background-color: rgb(83, 236, 83);" value="Accepted">
                    {% elif i.reqtype=='R' %}
                        <input type="button" class="btn" style="background-color: rgb(255, 11, 11);" value="Rejected">
                    {% else %}
                        <input type="button" class="btn" style="background-color: rgb(55, 63, 215);" value="Pending">
                    {% endif %}
                    </p>
                </div>
            </div>  
        </div>
    {% endfor %}
    <br>
    <p style="color:red;text-align: center;font-size: large;font-style: italic;">click on a campaign for more details</p>
    <br>
    <h1 style="text-align:center;">{{L3|length}} Past Campaigns</h1>
    {% for i in L3 %}
        {% if i.flag=='A' %}
            <br>
            <div class="request">
                <div class="request-header">
                    <h3>{{L3.index(i)+1}} : {{i.campaignname}}</h3>
                </div>
                <div class="request-content">
                    <h1 style="text-align: center;">Campaign Details</h1>
                    <div style="font-size: small;margin:1%;">
                        <p>Sponsor Name : {{i.sponsorname}}</p>
                        <p>Company Name : {{i.companyname}}</p>
                    </div>
                </div>  
            </div>
        {% endif %}
    {% endfor %}
    <p style="color:red;text-align: center;font-size: large;font-style: italic;">click on a campaign for more details</p>
</body>
</html>
